name: Markdown Lint

permissions:
    contents: read

on:
    push:
        branches: [main]
        paths:
            - "**/*.md"
            - ".markdownlint.json"
            - ".markdownlint-cli2.jsonc"

    pull_request:
        branches: ["**"]
        paths:
            - "**/*.md"
            - ".markdownlint.json"
            - ".markdownlint-cli2.jsonc"

jobs:
    lint-markdown:
        name: Lint Markdown
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Run markdownlint
              run: npx markdownlint-cli2 "**/*.md"
